.fadeTransition {
  /* start 'enter' transition */
  /* end 'enter' transition */ }
  .fadeTransition.ng-enter {
    /* transition on enter for .5s */
    transition: .5s;
    /* start with opacity 0 (invisible) */
    opacity: 0; }
  .fadeTransition.ng-enter-active {
    /* end with opacity 1 (fade in) */
    opacity: 1; }

/*------------COLORS------------*/

@font-face {
  font-family: 'Muli-ExtraLight';
  font-style: normal;
  src: url("../assets/fonts/Muli-ExtraLight.ttf"); }

@font-face {
  font-family: 'Muli-ExtraLightItalic';
  font-style: normal;
  src: url("../assets/fonts/Muli-ExtraLightItalic.ttf"); }

@font-face {
  font-family: 'Muli-Bold';
  font-style: normal;
  src: url("../assets/fonts/Muli-Bold.ttf"); }

@font-face {
  font-family: 'Muli-BoldItalic';
  font-style: normal;
  src: url("../assets/fonts/Muli-BoldItalic.ttf"); }

@font-face {
  font-family: 'Muli-Light';
  font-style: normal;
  src: url("../assets/fonts/Muli-Light.ttf"); }

@font-face {
  font-family: 'Muli-LightItalic';
  font-style: normal;
  src: url("../assets/fonts/Muli-LightItalic.ttf"); }

@font-face {
  font-family: 'Muli-SemiBold';
  font-style: normal;
  src: url("../assets/fonts/Muli-SemiBold.ttf"); }

@font-face {
  font-family: 'Muli-SemiBoldItalic';
  font-style: normal;
  src: url("../assets/fonts/Muli-SemiBoldItalic.ttf"); }

@font-face {
  font-family: 'Muli-Normal';
  font-style: normal;
  src: url("../assets/fonts/Muli.ttf"); }

@font-face {
  font-family: 'Muli-Italic';
  font-style: normal;
  src: url("../assets/fonts/Muli-Italic.ttf"); }

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  src: url("../assets/fonts/AvenirLTStd-Book.otf"); }

@font-face {
  font-family: 'Avenir-Light';
  font-style: normal;
  src: url("../assets/fonts/AvenirLTStd-Light.otf"); }

@font-face {
  font-family: 'Avenir-Roman';
  font-style: normal;
  src: url("../assets/fonts/AvenirLTStd-Roman.otf"); }

/*=========================================================
						              HELPERS
=========================================================*/
/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; }

.clearFix:before, .clearFix:after {
  content: "";
  display: table; }

.clearFix:after {
  clear: both; }

.fullHeight {
  height: 100%; }

.fullWidth {
  width: 100%; }

.hide {
  display: none; }

.centerElement {
  margin-left: auto;
  margin-right: auto; }

.centerText {
  text-align: center; }

.fl {
  float: left; }

.fr {
  float: right; }

.cm {
  margin: 0; }

.clm {
  margin-left: 0; }

.crm {
  margin-right: 0; }

.ctm {
  margin-top: 0; }

.cbm {
  margin-bottom: 0; }

.cp {
  padding: 0; }

.clp {
  padding-left: 0; }

.crp {
  padding-right: 0; }

.ctp {
  padding-top: 0; }

.cbp {
  padding-bottom: 0; }

/*=========================================================
						              HELPERS
=========================================================*/
/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; }

.clearFix:before, .clearFix:after {
  content: "";
  display: table; }

.clearFix:after {
  clear: both; }

.fullHeight {
  height: 100%; }

.fullWidth {
  width: 100%; }

.hide {
  display: none; }

.centerElement {
  margin-left: auto;
  margin-right: auto; }

.centerText {
  text-align: center; }

.fl {
  float: left; }

.fr {
  float: right; }

.cm {
  margin: 0; }

.clm {
  margin-left: 0; }

.crm {
  margin-right: 0; }

.ctm {
  margin-top: 0; }

.cbm {
  margin-bottom: 0; }

.cp {
  padding: 0; }

.clp {
  padding-left: 0; }

.crp {
  padding-right: 0; }

.ctp {
  padding-top: 0; }

.cbp {
  padding-bottom: 0; }

@font-face {
  font-family: 'Muli-ExtraLight';
  font-style: normal;
  src: url("../assets/fonts/Muli-ExtraLight.ttf"); }

@font-face {
  font-family: 'Muli-ExtraLightItalic';
  font-style: normal;
  src: url("../assets/fonts/Muli-ExtraLightItalic.ttf"); }

@font-face {
  font-family: 'Muli-Bold';
  font-style: normal;
  src: url("../assets/fonts/Muli-Bold.ttf"); }

@font-face {
  font-family: 'Muli-BoldItalic';
  font-style: normal;
  src: url("../assets/fonts/Muli-BoldItalic.ttf"); }

@font-face {
  font-family: 'Muli-Light';
  font-style: normal;
  src: url("../assets/fonts/Muli-Light.ttf"); }

@font-face {
  font-family: 'Muli-LightItalic';
  font-style: normal;
  src: url("../assets/fonts/Muli-LightItalic.ttf"); }

@font-face {
  font-family: 'Muli-SemiBold';
  font-style: normal;
  src: url("../assets/fonts/Muli-SemiBold.ttf"); }

@font-face {
  font-family: 'Muli-SemiBoldItalic';
  font-style: normal;
  src: url("../assets/fonts/Muli-SemiBoldItalic.ttf"); }

@font-face {
  font-family: 'Muli-Normal';
  font-style: normal;
  src: url("../assets/fonts/Muli.ttf"); }

@font-face {
  font-family: 'Muli-Italic';
  font-style: normal;
  src: url("../assets/fonts/Muli-Italic.ttf"); }

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  src: url("../assets/fonts/AvenirLTStd-Book.otf"); }

@font-face {
  font-family: 'Avenir-Light';
  font-style: normal;
  src: url("../assets/fonts/AvenirLTStd-Light.otf"); }

@font-face {
  font-family: 'Avenir-Roman';
  font-style: normal;
  src: url("../assets/fonts/AvenirLTStd-Roman.otf"); }

/*------------COLORS------------*/
.fadeTransition {
  /* start 'enter' transition */
  /* end 'enter' transition */ }
  .fadeTransition.ng-enter {
    /* transition on enter for .5s */
    transition: .5s;
    /* start with opacity 0 (invisible) */
    opacity: 0; }
  .fadeTransition.ng-enter-active {
    /* end with opacity 1 (fade in) */
    opacity: 1; }

body {
  font-family: "Avenir", "Muli-Normal", helvetica, arial, "sans-serif";
  font-size: 16px; }

.hasMainNav {
  padding-top: 55px; }

.blueSkyBg {
  background: #1340df; }

.whiteBg {
  background: white; }

.navbar {
  margin-bottom: 0px; }

.floatingFormContainer {
  position: relative;
  padding: 40px;
  border-radius: 6px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto; }

#horizontalLogoContainer {
  max-width: 220px;
  margin: 90px auto; }

#horizontalLogoImage {
  width: 100%; }

/*------------FORMS------------*/
.formSmall {
  max-width: 347px; }

.formTitle {
  font-family: "Avenir-Roman";
  font-weight: 900;
  margin: 30px auto;
  color: #202f42; }

.formLabel {
  font-size: 1em;
  font-family: "Muli-Normal";
  font-weight: 600;
  letter-spacing: .3px;
  color: #52647b;
  margin-bottom: 10px;
  letter-spacing: 0.3px; }

.form-control {
  margin-bottom: 30px;
  border-radius: 2px;
  border-color: #d7e1ea;
  height: 47px; }
  .form-control:focus {
    border-color: #d7e1ea;
    box-shadow: 0 0 5px 0 #d7e1ea; }

.btn {
  line-height: 25px;
  margin: 30px 0px;
  border-radius: 3px; }

.btn-success {
  background: #36ca75;
  border-color: #36ca75; }


#landing {
  background: red; }

/*# sourceMappingURL=main.css.map */
