
@import 'colors';


.fadeTransition{
    &.ng-enter {
        transition: .3s;
        opacity: 0;
    }
    &.ng-enter-active {
        opacity: 1;
    }

    &.ng-leave {
        transition: .3s;  
        opacity: 1;
    }
 
    
    &.ng-leave-active {
        opacity: 0;
    }
}

.fadeLeaveTransition{


    &.ng-leave {
        transition: .3s;  
        opacity: 1;
    }
 
    
    &.ng-leave-active {
        opacity: 0;
    }
}

.fadeSlideDownEnterTransition{
    &.ng-enter {
        transition: .3s;
        opacity: 0;
        transform: translate(0px, -500px);
    }
 
    &.ng-enter-active {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.fadeSlideDownLeaveTransition{

    &.ng-leave {
        transition: .3s;
        transform: translate(0px, 0px);
        opacity: 1;
    }
 
  
    &.ng-leave-active {
      transform: translate(0px, -500px);
        opacity: 0;
    }
}



// spinners

.bounceSpinnerContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bounceSpinner {
  width: 60px;
  height: 60px;

  position: relative;
  margin: 20px auto;
}


.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $greenishTeal;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
  background: $aquaGreen;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}



