/*------------COLORS------------*/

//blues
$azul: #1340df;
$azulTwo: #1659ef;

$blueGrey: #98abc4;
$darkBlue: #15005b;

//greens
$aquaGreen: #13e17f;
$paleOliveGreen: #9bd467;
$greenishTeal: #36ca75;
$greenishTealDarker: #00B34C;


//reds
$fadedRed: #dc3c41;
$red: #52647B;

//greys
$paleGrey: #f5f8fb;
$paleGreyTwo: #e9f0f6;

$lightGrey: #bfbebe;
$lightBlueGrey: #d7e1ea;
$lightBlueGreyTwo: #d8e1e9;


//whites
$white: #ffffff;
$whiteTwo: #f6f6f6;
$white-four: #e2e2e2;
$silver: #dddedf;

//darks
$black: #000000;
$slate: #52647b;
$slateTwo: #3c4858;
$dark: #1f2732;
$darkTwo: #262f3c;
$darkThree: #202f42;

//purples
$rouge: #961b1f;
$purpley: #933fdf;
$burple: #7b1ee2;

$paleOrange: #ffa94e;

$darkishPink: #df3f7c;