@import 'helpers';
@import 'variables';
@import 'fonts';
@import 'colors';
@import 'animations';

html,body{
	height: 100%;
}

body{
	font-family: $avenir, $muli, helvetica, arial, 'sans-serif';
	font-size: 16px;
}


/*------------HTML DEFAULTS------------*/

hr{
  border-color: $silver;	
  box-shadow: 0 1px 2px 0 $paleGrey;
}

h6{ font-size: 0.75em;}
h5{ font-size: 0.875em;}
h4{ font-size: 1em;}
h3{ font-size: 1.125em;}
h2{ font-size: 1.5em;}
h1{ font-size: 2em;}







/*------------BG CLASSES------------*/

//bg colors

.blueSkyBg{
	background-color: $azul;
}

.whiteBg{
	background: white;
}


/*------------  NAVBAR  ------------*/

.navbar{
	margin-bottom: 0px;
}


.hasMainNav{
	padding-top: 55px;
}





#horizontalLogoContainer{
	max-width: 220px;
	margin: 40px auto;

	@media(min-height: 800px){
		&{
			margin-top:100px;
		}
	}
}


#horizontalLogoImage{
	width: 100%;
}




/*------------FORMS------------*/
//hyphens indicate bootstrap overrides


.floatingFormContainer{
	position: relative;
	padding: 40px;
	border-radius: 4px;
	max-width: 500px;
	height: 520px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	
}



.form{
 	color: $slate;


	.formLabel{
		font-size: $em16px;
		font-family: $muli;
		font-weight: 300;
		letter-spacing: .3px;
		margin-bottom: 10px;
		letter-spacing: 0.3px;
	}

	.form-control{
		border-radius: 2px;
		border-color: $lightBlueGrey;
		height: 47px;
		transition: .3s;

		&:focus{
			border-color: $aquaGreen;
			box-shadow: 0 0 5px 0 $lightBlueGrey;
		}
	}

	.fieldErrors{
		height: 20px;
		margin: 5px 0px 0px 0px;
		p{
			color: $red;
			font-size: $em12px;
			margin: 0;
		}
	}

	.fieldErrorBorder{
		border-color: $red !important;
	}

	.formError{
		min-height: 22px;
		color: $red;
		text-align: center;
		font-size: $em12px;
	}

} //end form




.formSmall{
	max-width: 347px;
}

.formHeading{
	font-family: $muliExtraLight;
	font-weight: 200;
	color: $darkThree;
	margin-bottom: 30px;
}

.formSubHeading{
	font-family: $muliExtraLight;
	color: $slateTwo;
	letter-spacing: .3px;
	margin-bottom: 30px;
}

.btn{
	height: 39px;
	
	border-radius: 3px;
	font-size: $em14px;
	letter-spacing: .3px;
}

.btn-sm{
	font-size: $em12px;
}

.btn-md{
	font-size: $em14px;
}

.btn-lg{
	font-size: $em16px;
}



.btn-success{
	background: $greenishTeal;
	border-color: $greenishTeal;

	&:hover,&:focus{
		background: $greenishTealDarker;
		border-color: $greenishTealDarker;
	}
}





.helpBox{
	color: $slate;

	.heading{
		font-family: $avenirRoman;
	}
}

.starfieldAlphaBg{
	background: url('assets/images/starfieldAlpha.svg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: $azul;
}

/*------------LOGIN PAGE------------*/


































